# Packages
node_modules
packages/**/node_modules
packages/**/dist
services/**/node_modules
services/**/dist

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE
.vscode

# Docker (experimental)
docker
deploy
Dockerfile
.dockerignore

# Authentication
.env
.env.example

# Test files

# Command files (unfinished)
*.bak

# Miscellaneous
.tmp
.github
.travis.yml
LICENSE

# Git
.github
.git
.gitattributes
target
**/target
# node mods


.yarn/cache
.yarn/install-state.gz

.github
.husky
.vscode
scripts
target
.denolingignore
.dockerignore
.eslintrc.json
.lintstagedrc.json
.prettierrc.json
denolint.json
README.md
.env
