---
import {
  DiscordCustomEmoji,
  DiscordQuote,
} from "@skyra/discord-components-react";
import DefinitionCommand from "@thoth/interactions/commands/general/definition";
import { Command } from "../Command.tsx";
---

<Command
  featured
  name={DefinitionCommand.name}
  description={DefinitionCommand.description}
  args={Object.values(DefinitionCommand.options)}
>
  <DiscordCustomEmoji name="merriamWebster" />{" "}
  <a>ostentatious</a>
  {" "}
   (adjective){" "}•{" "}(os•ten•ta•tious) • (<a>ˌä-stən-ˈtā-shəs</a>)
  <p>
    Stems: ostentatious, ostentatiously, ostentatiousness, ostentatiousnesses
  </p>
  <br />
  <u>Definitions</u>
  <br /><br />
  <b>:</b> attracting or seeking to attract attention, admiration, or envy often
  by gaudiness or obviousness <b>:</b>
   overly elaborate or conspicuous <b>:</b>
   characterized by, fond of, or evincing <a>ostentation</a>
  <DiscordQuote>
    <p>"an <i>ostentatious</i> display of wealth/knowledge"</p>
  </DiscordQuote>
</Command>
