---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Thoth | Terms of Service" description="The Terms of Service for Thoth.">
  <div class="stack gap-20">
    <div class="stack gap-15">
      <header>
        <div class="wrapper stack gap-2">
          <a class="back-link" href="/commands"><Icon icon="arrow-left" /> Commands</a>
          <Hero title="Terms of Service" align="start">
            <div class="details">
              <div class="tags">
                <Pill>Legal</Pill>
              </div>
              <p class="description">Last updated November 14th, 2023</p>
            </div>
          </Hero>
        </div>
      </header>
      <main class="wrapper">
        <div class="stack gap-10 content">
          <div class="content">
            <b>Too long, didn't read</b>
            <p>
              Be a good person. Abide by Discord's <a href="https://discord.com/guidelines" target="_blank"
                >Guidelines</a
              >
            </p>

            <h5>1. Agreement to Terms</h5>

            <p>
              By using Thoth, you agree to these terms. If you don't agree to any part of these terms, you may not use
              the service.
            </p>

            <h5>2. Changes to Terms</h5>
            <p>
              We reserve the right to modify these terms at any time. Your continued use of Thoth after any changes
              signifies your agreement to the new terms.
            </p>

            <h5>3. Using Thoth</h5>

            <p>
              Thoth is a bot for Discord that provides users with various features including fetching the various
              mutations and relations of words and Word of the Day notifications. You agree to use Thoth only for lawful
              purposes and in a way that does not infringe on the rights of, restrict or inhibit anyone else's use and
              enjoyment of Discord or Thoth.
            </p>

            <h5>4. Abuse</h5>

            <p>Any abuse of Thoth or its services will lead to termination of your access to the service.</p>

            <h5>5. Liability</h5>

            <p>
              We are not liable for any direct, indirect, incidental, consequential, or punitive damages resulting from
              your use or inability to use Thoth.
            </p>

            <h5>6. Service Changes and Availability</h5>

            <p>
              Thoth is provided "as is" and we do not guarantee that the service will be available at all times,
              uninterrupted, or error-free.
            </p>

            <h5>7. User Responsibilities</h5>

            <p>
              You are responsible for any activity that occurs through your Discord account and for your interaction
              with Thoth.
            </p>

            <h5>8. Termination</h5>

            <p>
              We may terminate or suspend your access to Thoth immediately, without prior notice or liability, for any
              reason.
            </p>

            <h5>9. Governing Law</h5>

            <p>
              These terms shall be governed by the laws of the state of Colorado, without regard to its conflict of law
              provisions.
            </p>

            <h5>10. Contact Us</h5>

            <p>
              For any questions about these Terms, please contact us in our Discord server

              <a href="https://discord.gg/5u6ATDJhh3" target="_blank">https://discord.gg/5u6ATDJhh3</a>.
            </p>
          </div>
        </div>
      </main>
    </div>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  header {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--gray-800);
  }

  .back-link {
    display: none;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
  }

  .description {
    font-size: var(--text-lg);
    max-width: 54ch;
  }

  .content {
    max-width: 65ch;
    margin-inline: auto;
  }

  .content > :global(* + *) {
    margin-top: 1rem;
  }

  .content :global(h1),
  .content :global(h2),
  .content :global(h3),
  .content :global(h4),
  .content :global(h5) {
    margin: 1.5rem 0;
  }

  .content :global(img) {
    border-radius: 1.5rem;
    box-shadow: var(--shadow-sm);
    background: var(--gradient-subtle);
    border: 1px solid var(--gray-800);
  }

  .content :global(blockquote) {
    font-size: var(--text-lg);
    font-family: var(--font-brand);
    font-weight: 600;
    line-height: 1.1;
    padding-inline-start: 1.5rem;
    border-inline-start: 0.25rem solid var(--accent-dark);
    color: var(--gray-0);
  }

  .back-link,
  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .back-link:hover,
  .back-link:focus,
  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .back-link {
      display: block;
      align-self: flex-start;
    }

    .details {
      flex-direction: row;
      gap: 2.5rem;
    }

    .content :global(blockquote) {
      font-size: var(--text-2xl);
    }
  }
</style>
