---

---

<main>
  <h1>Terms of Service for Thoth Discord Bot</h1>

  <pre>Last updated: November 9th, 2023</pre>

  <h2>1. Agreement to Terms</h2>

  <p>
    By using Thoth, you agree to these terms. If you don't agree to any part of
    these terms, you may not use the service.
  </p>

  <h2>2. Changes to Terms</h2>
  <p>
    We reserve the right to modify these terms at any time. Your continued use
    of Thoth after any changes signifies your agreement to the new terms.
  </p>

  <h2>3. Using Thoth</h2>

  <p>
    Thoth is a bot for Discord that provides users with various features
    including fetching the various mutations and relations of words and Word of
    the Day notifications. You agree to use Thoth only for lawful purposes and
    in a way that does not infringe on the rights of, restrict or inhibit anyone
    else's use and enjoyment of Discord or Thoth.
  </p>

  <h2>4. Abuse</h2>

  <p>
    Any abuse of Thoth or its services will lead to termination of your access
    to the service.
  </p>

  <h2>5. Liability</h2>

  <p>
    We are not liable for any direct, indirect, incidental, consequential, or
    punitive damages resulting from your use or inability to use Thoth.
  </p>

  <h2>6. Service Changes and Availability</h2>

  <p>
    Thoth is provided "as is" and we do not guarantee that the service will be
    available at all times, uninterrupted, or error-free.
  </p>

  <h2>7. User Responsibilities</h2>

  <p>
    You are responsible for any activity that occurs through your Discord
    account and for your interaction with Thoth.
  </p>

  <h2>8. Termination</h2>

  <p>
    We may terminate or suspend your access to Thoth immediately, without prior
    notice or liability, for any reason.
  </p>

  <h2>9. Governing Law</h2>

  <p>
    These terms shall be governed by the laws of the state of Colorado, without
    regard to its conflict of law provisions.
  </p>

  <h2>10. Contact Us</h2>

  <p>
    For any questions about these Terms, please contact us in our Discord server


    <a href="https://discord.gg/5u6ATDJhh3" target="_blank"
      >https://discord.gg/5u6ATDJhh3</a
    >.
  </p>
</main>
